<article class="row">
    <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
            <img class="img-responsive avatar-<%= comment.username %>"
                 src="/default-avatar.jpg"/>
            <figcaption class="text-center"><%= comment.username %></figcaption>
        </figure>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> <%= comment.displayname %>
                        <% if ( user.admin ) { %>
                        <span onclick="javascript:TechRadar.deleteComment(<%= comment.id %>);"
                              class="pull-right glyphicon glyphicon-trash selectable"></span>
                        <% } %>
                    </div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                                class="fa fa-clock-o"></i> <%= comment.date %>
                    </time>
                    <% if (comment.version) { %>
                            <p><small>This comment refers to version <mark><%= comment.version %></mark></small></p>
                    <% } %>

                </header>
                <div class="comment-post">
                    <p>
                        <%= comment.text %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
<script>
    $(function() {
        TechRadar.setAvatar("<%= comment.username %>", $(".avatar-<%= comment.username.replace(/([:|\.@'"?#;])/g, "\\\\$1"); %>"));
    });
</script>