<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <row>
            <div class="col-md-8">
                <h1><%= technology.name %></h1>
                <p><%= technology.description %></p>
            </div>
            <div class="col-md-4">
                 <span class="pull-right" style="margin-top: 40px">
                     <table class="table-condensed small">
                        <tr>
                            <td>Category</td>
                            <td>-</td>
                            <td>
                                <a class="banner-text-link"
                                   href="/category/<%=encodeURI( technology.categoryname) .toLowerCase()%>/technologies"><%= technology.categoryname %>
                                </a>
                            </td>
                        </tr>
                         <tr>
                             <td>Website</td>
                              <td>-</td>
                             <td>
                                 <a class="banner-text-link" href="<%= (technology.website == null ? "#" : technology.website) %>" target="_blank">
                                     <%= (technology.website == null ? "" : technology.website) %>
                                 </a>
                             </td>
                         </tr>
                         <tr>
                             <td>Licence</td>
                             <td>-</td>
                             <td>
                                 <a class="banner-text-link" href="<%= (technology.licencelink == null ? "#" : technology.licencelink) %>" target="_blank">
                                     <%= (technology.licence == null ? (technology.licencelink ? "link" : "") : technology.licence) %>
                                 </a>
                             </td>
                         </tr>

                         </table>
                </span>
            </div>

        </row>

    </div>
</div>