<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu.ejs %>
<%
getBreadcrumb = function() {
    return technology.categoryname.toLowerCase();
}
%>

<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <h1><%= technology.name %></h1>
        <p><%= technology.categoryname %> - <%= technology.statusname %></p>
        <hr>
        <p><%= technology.description %></p>
    </div>
</div>

<div class="container bs-docs-container" style="padding-top: 10px;">
    <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/radar/<%=getBreadcrumb() %>"><%=technology.categoryname%></a></li>
            <li><a href="/technology/<%=technology.id%>"><%=technology.name%></a></li>
            <li class="active">Comment</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-top: 10px;">
            <form action="/api/comments" method="POST">
                <input type="hidden" name="technology" value="<%=technology.id%>">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" rows="3" id="comment" name="comment" placeholder="Comment"></textarea>

                </div>

                <button type="submit" class="btn btn-default">Add comment</button>
            </form>
        </div>
    </div>

</div><!-- /.container -->

<% include ../partials/footer.ejs %>
</body>
</html>
