<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>
    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
</head>

<body>

<% include ../partials/menu.ejs %>
<%
getBreadcrumb = function () {
    return technology.categoryname.toLowerCase();
}
%>

<% include ../partials/technology-head.ejs %>

<div class="container bs-docs-container" style="padding-top: 10px;">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/category/<%= getBreadcrumb() %>/technologies"><%= technology.categoryname %></a></li>
            <li><a href="/technology/<%= technology.id %>"><%= technology.name %></a></li>
            <li class="active">Comment</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="padding-top: 10px;">
            <form action="javascript:void(0);" method="POST">
                <input type="hidden" name="technology" value="<%= technology.id %>">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" rows="3" id="comment" name="comment"
                              placeholder="Comment" required></textarea>
                </div>
                <div><% include ../partials/software-versions.ejs %></div>
                <button type="submit" class="btn btn-default">Add comment</button>
            </form>
        </div>
    </div>

</div><!-- /.container -->

<% include ../partials/footer.ejs %>

<script>
    window.onbeforeunload = function(e) {
        return "Please enter a comment.";
    }

    $("form").submit(function (event) {

        $(":submit").attr("disabled", true);

        var frm = $(this);
        
        var data = serialiseForm(frm);

        $.ajax({
            type: "POST",
            url: '/api/comments',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                $(":submit").attr("disabled", false);
                window.onbeforeunload = null; // disable the pop-up message 
                if (result.success) {
                    location.href = "/technology/<%= technology.id %>";
                } else {
                    alert("There was an error adding a comment :(");
                }
            }
        });

        <% if (google_id!=undefined) { %>
        ga('send', 'event', 'Comment', 'add', '<%=technology.name%>');
        <% } %>
    });

</script>

<% include ../partials/software-versions-footer.ejs %>

</body>
</html>
