<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1><%=project.name%></h1>
                <p>Add Technologies</p>
            </div>
        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li><a href="/project/<%=project.id%>"><%=project.name%></a></li>
            <li class="active">Add Technology</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <button id="addBtn" class="btn btn-success" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Add selected
                    </button>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div>

<% include ../partials/footer.ejs %>
<% include ../partials/software-versions-footer.ejs %>

<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script>
    
    <% include ../partials/sticky-table-page-size.ejs %> // contains the page_size variable

    $table = $('#results');

    $addBtn = $('#addBtn')

    // Disabled by default
    $addBtn.prop('disabled', 1);

    $table.bootstrapTable( {
        method: 'get',
        url: '/api/technology',
        cache: false,
        striped: true,
        escape: true,
        idField: 'linkid',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        pageSize: page_size, // declared and set in sticky-table-page-size.ejs 
        onPostBody: function() { 
            setupVersionsModal();
            setupVersionDropdowns();
        },
        columns: [{
            field:'state',
            checkbox:'true'
        }, {
            // technology - project link ID
            field: 'linkid',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true,
            formatter: operateFormatter
        }, {
            field: 'status',
            title: 'Status',
            align: 'center',
            sortable: true,
            editable : true
        }, {
            field: 'website',
            title: 'Website',
            align: 'center',
            sortable: true
        }, {
            field: 'category',
            title: 'Category',
            align: 'center',
            sortable: true
        },{
            field: 'version',
            title: 'Version',
            align: 'center',
            sortable: true,
            formatter: versionFormatter
        }]
    });

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $addBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
    });

    $addBtn.click( function() {
        var r = confirm("Are you sure you want to add the selected technology to the project ?");
        if (r == false) {
            return;
        }
        $addBtn.addClass("disabled");

        var data = {};
        data.technologies = getIdSelections();
        data.versions =  getSelectedSoftwareVersionIds();

        $.ajax({
            type: "POST",
            url: '/api/project/<%= project.id %>/technology',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    location.href = "/project/<%=project.id%>";
                } else {
                    alert("There was an error adding Technologies");
                }
                $addBtn.removeClass("disabled");
            }
        });
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function getSelectedSoftwareVersionIds() {
        var selectedVersionIds = [];
        getIdSelections().forEach(function(selectedId) {
            var versionId = $('#version-for-tech-'+selectedId).val();
            selectedVersionIds.push(versionId);
        });
        return selectedVersionIds;
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/technology/' + row['id'] +'">' + value + '</a>'
        ].join('');
    }

    function versionFormatter(value, row, index) {
        return [`
                <select id="version-for-tech-` + row.id + 
                    `" name="software_version_id" class="version-dropdown" 
                    data-technology="` + row.id + `">  

                    <%# empty value tells our backend to omit this field %>
                    <option value="">Select version</option>
                    <option class="add-new-version">Add new</option>
                </select>
        `].join('');
    }

</script>

</body>
</html>
