<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
</head>

<body>

<% include ../partials/menu.ejs %>

<% include ../partials/technology-head.ejs %>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li><a href="/radar/<%= technology.categoryname.toLowerCase() %>"><%= technology.categoryname %></a></li>
            <li><a href="/technology/<%= technology.id %>"><%= technology.name %></a></li>
            <li class="active">Edit</li>
        </ol>
    </div>

    <div class="col-md-10 col-md-offset-1" style="padding-top: 10px;">
        <form action="javascript:void(0);" method="POST">
            <input type="hidden" name="id" value="<%= technology.id %>">
            <div class="form-group">
                <label for="technologyName">Name of Technology</label>
                <input type="text" class="form-control" id="name"
                       value="<%= technology.name %>"
                       name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="technologyWebsite">Website</label>
                <input type="url" class="form-control" id="website"
                       name="website" placeholder="Website"
                       value="<%= (technology.website == null ? "http://" : technology.website) %>"
                       required>
            </div>
            <div class="form-group">
                <label for="technologyGroup">Category:</label>
                <select class="form-control" id="category"
                        name="category">

                    <%
                    categories.forEach(function(category, index, arr) {

                    if (technology.category == category.id) { %>
                    <option value="<%= category.id %>" selected="selected"><%= category.name %></option>
                    <% } else { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }
                    });
                    %>

                </select>
            </div>
            <div class="form-group">
                <label for="technologyDescription">Description</label>
                    <textarea class="form-control" rows="3" id="description"
                              name="description" placeholder="Description"
                              required><%= technology.description %></textarea>

            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div><!-- /.container -->
<% include ../partials/footer.ejs %>

<script>

    $("form").submit(function (event) {
        $(":submit").attr("disabled", true);

        var frm = $('form');
        var data = serialiseForm(frm);

        $.ajax({
            type: "PUT",
            url: '/api/technology/<%= technology.id %>',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.success) {
                    location.href = "/technology/<%= technology.id %>";
                } else {
                    alert("There was an error updating the Technology :)");
                }
                $(":submit").attr("disabled", false);
            }
        });

        <% if (google_id!=undefined) { %>
        ga('send', 'event', 'Technology', 'edit', '<%=technology.name%>');
        <% } %>
    });

</script>

</body>
</html>
