<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/lib/protovis-3.2/protovis-d3.2.js"></script>
    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
    <script type="text/javascript" src="/radar.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8"></script>


</head>
<script>
    var data=<%-JSON.stringify(technologies, null, 4)%>;
</script>

<body onload="init(400,400,data);">


<% include ../partials/menu.ejs %>


<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <h1><%=category.name %></h1>
        <p><%=category.description%></p>
    </div>
</div>
<div class="container bs-docs-container">

    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6" >
            <ul class="list-group">
                <%
                var heading="";

                for (var i = 0, len = technologies.length; i < len; i++) {
                    var technology = technologies[i];

                    if( technology.status != heading) {
                        heading = technology.status;
                 %>
                        <li class="list-group-item active"><%= heading %></li>

                 <% } %>

                    <li class="list-group-item">
                        <span class="badge"><%=technology.num%></span>
                        <a href="/technology/view/<%=technology.id%>"><%= technology.name %></a>
                    </li>

            <% } %>

            </ul>


        </div>
        <div class="col-sm-6">
                <div id="radar"></div>
        </div>
    </div>



</div>


<% include ../partials/footer.ejs %>


</body>
</html>
