<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1><%=project.name%></h1>
                <p>Remove Technologies</p>
            </div>
        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li><a href="/project/<%=project.id%>"><%=project.name%></a></li>
            <li class="active">Remove Technology</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <button id="removeBtn" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Remove selected
                    </button>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div>

<% include ../partials/footer.ejs %>


<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script>
    
    <% include ../partials/sticky-table-page-size.ejs %> // contains the page_size variable

    $table = $('#results');

    $removeBtn = $('#removeBtn')

    // Disabled by default
    $removeBtn.prop('disabled', 1);

    $table.bootstrapTable( {
        method: 'get',
        url: '/api/project/<%=project.id%>/technologies',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        pageSize: page_size, // declared and set in sticky-table-page-size.ejs
        columns: [{
            field:'state',
            checkbox:'true'
        }, {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true,
            formatter: operateFormatter
        }, {
            field: 'status',
            title: 'Status',
            align: 'center',
            sortable: true,
            editable : true
        }, {
            field: 'website',
            title: 'Website',
            align: 'center',
            sortable: true
        }, {
            field: 'version',
            title: 'Version',
            align: 'center',
            sortable: true
        }]
    });

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $removeBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
    });

    $removeBtn.click( function() {
        var r = confirm("Are you sure you want to remove the selected technology from the project ?");
        if (r == false) {
            return;
        }
        $removeBtn.addClass("disabled");

        var data = {};
        data.links = getIdSelections();

        $.ajax({
            type: "DELETE",
            url: '/api/project/<%= project.id %>/technology',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    location.href = "/project/<%=project.id%>";
                } else {
                    alert("There was an error adding Technologies");
                }
                $removeBtn.removeClass("disabled");
            }
        });
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.linkid
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/technology/' + row['id'] +'">' + value + '</a>'
        ].join('');
    }

</script>

</body>
</html>
