<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">

</head>

<body>
<%
    getBreadcrumb = function() {
        return technology.categoryname.toLowerCase();
    }
%>

<% include ../partials/menu.ejs %>

<% include ../partials/technology-head.ejs %>

<div class="container bs-docs-container" style="padding-top: 10px;">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/category/<%=getBreadcrumb() %>/technologies"><%=technology.categoryname%></a></li>
            <li><a href="/technology/<%=technology.id%>"><%=technology.name%></a></li>
            <li class="active">Status History</li>
        </ol>
    </div>

    <row>
        <div class="col-md-10 col-md-offset-1">
            <table id="results"></table>
        </div>
    </row>


</div>

<% include ../partials/footer.ejs %>


<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/stickyTablePageSize.js"></script>
<script>

    
    $('#results').bootstrapTable( {
        method: 'get',
        url: '/api/technology/<%=technology.id%>/status/history',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: false,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        pageSize: page_size, // declared and set in stickyTablePageSize.js
        columns: [ {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            align: 'center',
            sortable: true,
        }, {
            field: 'username',
            title: 'Username',
            align: 'center',
            sortable: true
        }, {
            field: 'date',
            title: 'Date',
            align: 'center',
            sortable: true
        }, {
            field: 'reason',
            title: 'Reason',
        }]
    });



    <% if (user.admin ) { %>

    var statusBtn = function () {
        var data = {statusvalue: $('#statusPulldown').val(), reason: $('#reasonTextArea').val(), technology:<%= technology.id %>};
        $.post('/api/technology/<%= technology.id %>/status', data, function (result) {
            location.reload()
        });
    };

    $(function () {
        $('select[value]').each(function () {
            $(this).val(this.getAttribute("value"));
        });
    });



    $('#statusBtn').click(statusBtn);

    <% } %>

</script>

</body>
</html>
