<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu.ejs %>

<%
getBreadcrumb = function () {
    return encodeURI(technology.categoryname).toLowerCase();
}
%>

<% include ../partials/technology-head.ejs %>
<% if(user.canEdit) { %>
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav white-text nav-justified">
                <% if(user.canComment) { %>

                <%# #### I've used this technology #### #%>
                <li class="dropdown">
                    <a id="usedThisTechnologyPulldown" href="#" class="dropdown-toggle" data-toggle="dropdown">I've used this technology<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <% usedThisOptions.forEach( function(usedThis) {
                            if (usedThis.id == 0) {
                                return;
                            }
                        %>
                        <li><a class="dropdown-item btn"
                               id="usedThisBtn_<%= usedThis.id %>"
                               href="javascript:void(0);"
                               value="<%= usedThis.daysago %>"><%= usedThis.name %></a>
                        </li>
                        <% }); %>
                    </ul>
                </li>

                <%# #### Votes #### #%>
                <li class="dropdown">
                    <a id="votePulldown" href="#" class="dropdown-toggle" data-toggle="dropdown">Vote <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <% statuses.forEach( function(status) {

                            if (status.id == 0) {
                                return;
                            }
                        %>
                        <li><a class="dropdown-item btn"
                               id="voteBtn_<%= status.name %>"
                               href="javascript:void(0);"
                               value="<%= status.name %>"><%= status.name %></a>
                        </li>

                        <% }); %>
                    </ul>
                </li>
                <% } %>

                <% if(user.canComment) { %>
                <li><a href="/comments/add/<%= technology.id %>">Comment</a></li>
                <% } %>
                <% if(user.canEdit) { %>
                <li><a href="/technology/<%= technology.id %>/edit">Edit</a></li>
                <% } %>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->
<% } %>

<div class="container bs-docs-container" style="padding-top: 10px;">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/category/<%= getBreadcrumb() %>/technologies"><%= technology.categoryname %></a></li>
            <li class="active"><%= technology.name %></li>
        </ol>
    </div>

    <row>
        <div class="col-md-8" id="commentContainer">

        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>Status
                        <span class="pull-right">
                            <% if(user.canEdit) { %>
                            <a class="btn btn-default btn-xs"
                               href="/technology/<%= technology.id %>/updatestatus">Change Status</a>
                            <% } %>
                            <a class="btn btn-default btn-xs"
                               href="/technology/<%= technology.id %>/statushistory">History</a>
                        </span>
                    </div>
                </div>
                <table class="table">
                    <tbody id="status">
                    <tr>
                        <td><%= technology.statusname %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div>Total votes cast<span class="pull-right">
                            <a class="btn btn-default btn-xs" href="/technology/<%= technology.id %>/votehistory">History</a></span>
                    </div>

                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody id="votes">
                    </tbody>
                </table>
            </div>
            <br>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>Used in projects
                        <% if (user.canEdit) { %>
                        <span class="pull-right">
                        <a class="btn btn-default btn-xs" href="/technology/<%= technology.id %>/projects">Update</a>
                    </span>
                        <% } %>
                    </div>

                </div>

                <table class="table">
                    <tbody id="project-use">

                    </tbody>
                </table>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                        <div>Used by <span id="users-count">0</span> user(s) last year
                        <span class="pull-right">
                            <a class="btn btn-default btn-xs" href="/technology/<%= technology.id %>/users">Details</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>

<% include ../partials/footer.ejs %>

<script src="/comments.js"></script>
<script src="/avatar.js"></script>

<script>

    $(function () {
        TechRadar.getComments(<%= technology.id %>, 0);
    });

    var deleteComment = function (commentId) {
        var r = confirm("Are you sure you want to delete this comment ?");
        if (r == false) {
            return;
        }

        $.ajax({
            type: "DELETE",
            url: '/api/comments',
            contentType: "application/json",
            data: JSON.stringify({id: [commentId]}),
            complete: function (result) {
                if (result.success) {
                    location.reload();
                } else {
                    alert("There was an error deleting comment :(");
                }
            }
        });

        <% if (google_id != undefined) { %>
        ga('send', 'event', 'Comment', 'delete', '<%= technology.name %>');
        <% } %>
    };

    var refreshVotes = function () {
        var data = {limit: 5};

        $.get('/api/technology/<%= technology.id %>/vote/totals', data, function (result) {

            var output = "";
            result.forEach(function (vote) {
                output += "<tr><td>" + vote.status + "</td>";
                output += "<td>" + vote.count + "</td></tr>";

            });

            $('#votes').empty();
            $('#votes').append(output);
        });
    };

    var refreshUsersCountInLastDays = function (daysAgo) {
        $.get('/api/technology/<%= technology.id %>/usersCount?daysAgo='+daysAgo, null, function (result) {
            $('#users-count').text(result[0].count);
        });
    };


    var refreshProjectUse = function () {
        $.get('/api/technology/<%= technology.id %>/projects', function (result) {
            var output = "";
            result.forEach(function (project) {
                output += "<tr><td><a href='/project/" + project.id + "'>" + project.name + "</a></td>";
            });

            $('#project-use').empty();
            $('#project-use').append(output);
        })

    };

    var usedThisClickedBtn = function () {
        $("#usedThisTechnologyPulldown").addClass("disabled");
        var daysAgo = this.getAttribute("value");
        var btnId = this.getAttribute("id");
        var data = {daysAgo: daysAgo};
        $.post('/api/technology/<%= technology.id %>/usedThisTechnology',
                data,
                function (result) {
                    if (result.success) {
                        enableUsedThisButtons();
                        refreshUsersCountInLastDays(365);
                        $("#" + btnId).toggleClass('disabled', true);
                    }
                    ;
                    $("#usedThisTechnologyPulldown").removeClass("disabled");
                });
        <% if (google_id != undefined) { %>
        ga('send', 'event', 'Technology', 'usedThisTechnology', '<%= technology.name %> - ' + $(this).text());
        <% } %>
    };

    <% usedThisOptions.forEach( function(usedThis) { %>
        $('#usedThisBtn_<%= usedThis.id %>').click(usedThisClickedBtn);
    <% }); %>

    var enableUsedThisButtons = function() {
        <% usedThisOptions.forEach( function(usedThis) { %>
            $('#usedThisBtn_<%= usedThis.id %>').toggleClass('disabled', false);
        <% }); %>
    }

    var voteClickedBtn = function () {
        $("#votePulldown").addClass("disabled");
        var statusValue = this.getAttribute("value");
        var data = {statusname: statusValue};
        $.post('/api/technology/<%= technology.id %>/vote',
                data,
                function (result) {
                    if (result.success) {
                        enableVoteButtons();
                        $('#voteBtn_'+statusValue).toggleClass('disabled', true);
                        refreshVotes();
                    }
                    ;
                    $("#votePulldown").removeClass("disabled");
                });
        <% if (google_id != undefined) { %>
        ga('send', 'event', 'Technology', 'vote', '<%= technology.name %> - ' + $(this).text());
        <% } %>
    };


    <% statuses.forEach( function(status) { %>
    $('#voteBtn_<%= status.name %>').click(voteClickedBtn);
    <% }); %>


    var enableVoteButtons = function() {
        <% statuses.forEach( function(status) { %>
        $('#voteBtn_<%= status.name %>').toggleClass('disabled', false);

        <% }); %>
    }

    // Perform initial setup
    enableVoteButtons();
    $('#voteBtn_<%=technology.vote%>').toggleClass('disabled', true);
    enableUsedThisButtons();
    refreshVotes();
    refreshProjectUse();
    refreshUsersCountInLastDays(365);
</script>

</body>
</html>
