<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu.ejs %>

<%
getBreadcrumb = function() {
    return technology.categoryname.toLowerCase();
}
%>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container" role="vote">
        <row>
            <div class="col-md-12">
                <h1><%= technology.name %></h1>
                <h3><%= technology.description %></h3>
                <p>Category : <%= technology.categoryname %></p>
                <p>Status : <%= technology.statusname %></p>
            </div>

        </row>
        <row>
            <div class="col-md-12">
                <div class="btn-group-justified btn-block btn-group-lg">
                    <% statuses.forEach( function(status) {

                        if (status.id == 0) {
                            return;
                        }
                    %>
                    <div class="btn-group">
                        <button type="button" id="voteBtn_<%= status.id %>" value="<%= status.id %>"
                                class="btn   btn-success glyphicon glyphicon-thumbs-up"
                                data-loading-text=" ... "><%= status.name %></button>
                    </div>
                    <% }); %>

                </div>
            </div>
        </row>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/radar/<%=getBreadcrumb() %>"><%=technology.categoryname%></a></li>
            <li class="active"><%=technology.name%></li>
        </ol>
    </div>
    <row>
        <div class="col-md-12" style="margin-top: 10px">
            <row>
                <div class="col-md-2" style="margin-top: 10px">
                    <div class="btn-group btn-block btn-group-lg">
                        <div class="btn-group">
                            <a class="btn btn-default" href="/comments/add/<%=technology.id%>">Add a comment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top: 10px">
                    <% if( user.admin ) { %>
                    <div class="btn-group btn-block btn-group-lg">
                        <div class="btn-group">
                            <a class="btn btn-default" href="/technology/<%=technology.id%>/status">Change current status</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </row>
        </div>
    </row>

    <row>
        <div class="col-md-8">
            <section class="comment-list" style="margin-top: 40px">

                <%
                for (var i = 0, len = comments.length; i < len; i++) {
                    var comment = comments[i];
                %>

                <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail">
                            <img class="img-responsive"
                                 src="/default-avatar.jpg"/>
                            <figcaption class="text-center"><%= comment.username %></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <header class="text-left">
                                    <div class="comment-user"><i class="fa fa-user"></i> <%= comment.displayname %>
                                    </div>
                                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                class="fa fa-clock-o"></i> <%= comment.date %>
                                    </time>
                                </header>
                                <div class="comment-post">
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %>

            </section>
        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lastest votes cast</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Username</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody id="votes">

                    </tbody>
                </table>
            </div>
            <br>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lastest status changes</div>

            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Username</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody id="history">

                </tbody>
            </table>
                </div>
        </div>
    </row>
</div>

<% include ../partials/footer.ejs %>

<script>

    var data = {limit: 5};

    var refreshVotes = function () {
        $.get('/api/votes/<%= technology.id %>', data, function (result) {

            var output = "";
            result.forEach(function (vote) {
                output += "<tr><td>" + vote.status + "</td>";
                output += "<td>" + vote.username + "</td>";
                output += "<td>" + vote.date + "</td></tr>";

            });

            $('#votes').empty();
            $('#votes').append(output)
        });
    };

    var refreshStatusHistory = function () {
        $.get('/api/technology/<%= technology.id %>/status', data, function (result) {
            var output = "";
            result.forEach(function (status) {
                output += "<tr><td>" + status.name + "</td>";
                output += "<td>" + status.username + "</td>";
                output += "<td>" + status.date + "</td></tr>";

            });

            $('#history').empty();
            $('#history').append(output);
        })

    };


    var clickBtn = function () {
        var data = {statusvalue: $(this).val()};
        $.post('/api/technology/<%= technology.id %>/vote', data, function (result) {
            refreshVotes();
        });
    };


    <% statuses.forEach( function(status) { %>
    $('#voteBtn_<%= status.id %>').click(clickBtn);
    <% }); %>

    <% if (user.admin ) { %>

    var statusBtn = function () {
        var data = {statusvalue: $('#statusPulldown').val(), technology:<%= technology.id %>};
        $.post('/api/technology/<%= technology.id %>/status', data, function (result) {
            refreshStatusHistory();
        });
    };

//    $(function () {
//        $('select[value]').each(function () {
//            $(this).val(this.getAttribute("value"));
//        });
//    });


    $('#statusBtn').click(statusBtn);

    refreshVotes();
    refreshStatusHistory();

    <% } %>
</script>

</body>
</html>
