<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu.ejs %>

<%
getBreadcrumb = function () {
    return technology.categoryname.toLowerCase();
}
%>

<div tabindex="-1" id="content" class="site-header">
    <div class="container" role="vote">
        <row>
            <div class="col-md-8">
                <h1><%= technology.name %></h1>
                <p><%= technology.description %></p>
            </div>
            <div class="col-md-4">
                 <span class="pull-right" style="margin-top: 40px">
                     <table class="table-condensed small">
                         <tr>
                             <td>Status</td>
                             <td>-</td>
                             <td class="highlight"><%= technology.statusname %></td>
                         </tr>
                        <tr>
                            <td>Category</td>
                             <td>-</td>
                            <td class="highlight"><%= technology.categoryname %></td>
                        </tr>
                         <tr>
                             <td>Website</td>
                              <td>-</td>
                             <td class="highlight"><%= (technology.website == null ? "" : technology.website) %></td>
                         </tr>

                         </table>
                </span>
            </div>

        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/radar/<%= getBreadcrumb() %>"><%= technology.categoryname %></a></li>
            <li class="active"><%= technology.name %></li>
        </ol>
    </div>
    <row>
        <div class="col-md-12" style="margin-top: 10px">
            <row>
                <div class="col-md-8" style="margin-top: 10px">
                    <div class="btn-group btn-block">
                        <div class="dropdown btn-group">
                            <a href="#" class="btn btn-default btn-sm dropdown-toggle"
                               data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">Vote<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% statuses.forEach( function(status) {

                                    if (status.id == 0) {
                                        return;
                                    }
                                %>
                                <li><a class="dropdown-item"
                                       id="voteBtn_<%= status.id %>"
                                       href="javascript:void(0);"
                                       value="<%= status.id %>"><%= status.name %></a>
                                </li>

                                <% }); %>
                            </ul>
                        </div>


                        <a class="btn btn-default btn-sm" href="/comments/add/<%= technology.id %>">Comment</a>
                        <a class="btn btn-default btn-sm" href="/technology/<%= technology.id %>/edit">Edit</a>

                        <% if( user.admin ) { %>

                        <div class="dropdown btn-group">
                            <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">Admin<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/technology/<%= technology.id %>/updatestatus">Change
                                        status</a></li>
                         
                            </ul>
                        </div>

                        <% } %>

                    </div>

                </div>

            </row>
        </div>
    </row>

    <row>
        <div class="col-md-8">
            <section class="comment-list" style="margin-top: 40px">

                <%
                for (var i = 0, len = comments.length; i < len; i++) {
                    var comment = comments[i];
                %>

                <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail">
                            <img class="img-responsive"
                                 src="/default-avatar.jpg"/>
                            <figcaption class="text-center"><%= comment.username %></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <header class="text-left">
                                    <div class="comment-user"><i class="fa fa-user"></i> <%= comment.displayname %>
                                    </div>
                                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                class="fa fa-clock-o"></i> <%= comment.date %>
                                    </time>
                                </header>
                                <div class="comment-post">
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %>

            </section>
        </div>
        <div class="col-md-4">


            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div>Total votes cast<span class="pull-right">
                            <a href="/technology/<%= technology.id %>/votehistory">[History]</a></span>
                    </div>

                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody id="votes">

                    </tbody>
                </table>
            </div>
            <br>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>Latest status changes
                    <span class="pull-right">
                        <a href="/technology/<%= technology.id %>/statushistory">[History]</a>
                    </span>
                    </div>

                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Username</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody id="history">

                    </tbody>
                </table>
            </div>
        </div>
    </row>
</div>

<% include ../partials/footer.ejs %>

<script>

    var data = {limit: 5};

    var refreshVotes = function () {
        $.get('/api/technology/<%= technology.id %>/vote/status', data, function (result) {

            var output = "";
            result.forEach(function (vote) {
                output += "<tr><td>" + vote.status + "</td>";
                output += "<td>" + vote.count + "</td></tr>";

            });

            $('#votes').empty();
            $('#votes').append(output)
        });
    };

    var refreshStatusHistory = function () {
        $.get('/api/technology/<%= technology.id %>/status', data, function (result) {
            var output = "";
            result.forEach(function (status) {
                output += "<tr><td>" + status.name + "</td>";
                output += "<td>" + status.username + "</td>";
                output += "<td>" + status.date + "</td></tr>";

            });

            $('#history').empty();
            $('#history').append(output);
        })

    };


    var clickBtn = function () {
        console.log(this.getAttribute("value"));
        var data = {statusvalue: this.getAttribute("value")};
        console.log(data);
        $.post('/api/technology/<%= technology.id %>/vote', data, function (result) {
            refreshVotes();
        });
    };


    <% statuses.forEach( function(status) { %>
    $('#voteBtn_<%= status.id %>').click(clickBtn);
    <% }); %>

    <% if (user.admin ) { %>

    var statusBtn = function () {
        var data = {statusvalue: $('#statusPulldown').val(), technology:<%= technology.id %>};
        $.post('/api/technology/<%= technology.id %>/status', data, function (result) {
            refreshStatusHistory();
        });
    };


    $('#statusBtn').click(statusBtn);

    refreshVotes();
    refreshStatusHistory();

    <% } %>
</script>

</body>
</html>
