<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container" role="vote">
        <row>
            <div class="col-md-12">
                <h1><%= technology.name %></h1>
                <p><%= technology.categoryname %> - <%= technology.statusname %></p>
                <hr>
                <p><%= technology.description %></p>
            </div>

        </row>
        <row>
            <div class="col-md-12">
                <div class="btn-group-justified btn-block btn-group-lg">
                    <div class="btn-group">
                        <button type="button" id="testBtn" value="1"
                                class="btn   btn-success glyphicon glyphicon-thumbs-up"
                                data-loading-text=" ... ">Adopt
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="testBtn2" value="2"
                                class="btn  btn-success glyphicon glyphicon-thumbs-up"
                                data-loading-text=" ... ">Trial
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="testBtn3" value="3"
                                class="btn btn-success glyphicon glyphicon-thumbs-up"
                                data-loading-text=" ... ">Assess
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="testBtn4" value="5"
                                class="btn  btn-success glyphicon glyphicon-thumbs-up"
                                data-loading-text=" ... ">Avoid
                        </button>
                    </div>
                </div>
            </div>
        </row>
    </div>
</div>

<div class="container bs-docs-container">

    <row>
        <div class="col-md-12" style="margin-top: 10px">
            <row>
                <div class="col-md-2" style="margin-top: 10px">
            <div class="btn-group btn-block btn-group-lg">
                <div class="btn-group">
                    <a class="btn btn-default" href="/comments/add/<%= technology.id %>">Add a comment</a>
                </div>
            </div>
                    </div>
                <div class="col-md-10" style="margin-top: 10px">
            <% if( user.admin ) {%>
            <form class="form-inline">
                <fieldset class="form-group">
                    <select class="form-control" id="statusPulldown" value='<%=technology.status%>'>
                        <% statuses.forEach( function(value) { %>
                        <option value='<%=value.id%>'><%=value.name%></option>
                        <% }); %>
                    </select>
                    <button type="submit" id="statusBtn" class="btn btn-default">Set Status</button>
                </fieldset>
            </form>
            <% } %>
                    </div>
            </row>
        </div>


    </row>

    <row>
        <div class="col-md-8">
            <section class="comment-list" style="margin-top: 40px">

                <%
                for (var i = 0, len = comments.length; i < len; i++) {
                    var comment = comments[i];
                %>

                <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail">
                            <img class="img-responsive"
                                 src="/default-avatar.jpg"/>
                            <figcaption class="text-center"><%= comment.username %></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <header class="text-left">
                                    <div class="comment-user"><i class="fa fa-user"></i> <%= comment.displayname %>
                                    </div>
                                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                class="fa fa-clock-o"></i> <%= comment.date %>
                                    </time>
                                </header>
                                <div class="comment-post">
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %>

            </section>
        </div>
        <div class="col-md-4">
            <h3 align="center">Votes</h3>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Username</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <% votes.forEach( function (vote) { %>
                <tr>
                    <td><%= vote.status %></td>
                    <td><%= vote.username %></td>
                    <td><%= vote.date %></td>
                </tr>
                <% }); %>

                </tbody>
            </table>
        </div>
    </row>
</div>

<% include ../partials/footer.ejs %>

<script>


    var clickBtn = function () {
        var data = {statusvalue: $(this).val()};
        $.post('/api/technology/<%= technology.id %>/vote', data, function (result) {
            console.log(result);
        });
    };

    var statusBtn = function () {
        var data = {statusvalue: $('#statusPulldown').val()};
        console.log(data);
        $.post('/api/technology/<%= technology.id %>/status', data, function (result) {
            console.log(result);
        });
    };

    $('#testBtn').click(clickBtn);
    $('#testBtn2').click(clickBtn);
    $('#testBtn3').click(clickBtn);
    $('#testBtn4').click(clickBtn);

    if( <%=user.admin%> ) {
        $(function () {
            $('select[value]').each(function () {
                $(this).val(this.getAttribute("value"));
            });
        });


        $('#statusBtn').click(statusBtn);
    }
</script>

</body>
</html>
